@using SpellBookGenerator.Core.Spells
@typeparam TSpell where TSpell: Shared.SpellBase
@typeparam TDisplay where TDisplay: SpellDisplay<TSpell>

<tr>
    <td>        </td>
    <th scope="row">@SpellDisplay.Spell.Name</th>
    <SpellVersionHelper Spell="SpellDisplay">
        <Pathfinder1>
            <td>@context.SchoolDisplay</td>
        </Pathfinder1>
    </SpellVersionHelper>
    

    <td>@SpellDisplay.RangeDisplay</td>
    <td>@SpellDisplay.Spell.CastingTime</td>
    <td>@SpellDisplay.Spell.Duration</td>
    <SpellVersionHelper Spell="SpellDisplay">
        <Pathfinder1>
            <td>@context.SpellResistDisplay</td>
        </Pathfinder1>
    </SpellVersionHelper>
    
    <SpellVersionHelper Spell="SpellDisplay">
        <Pathfinder1>
            <td>@context.Spell.Components</td>
        </Pathfinder1>
    </SpellVersionHelper>

    <td>@((MarkupString) SpellDisplay.Spell.ShortDescription)</td>
</tr>



@code {
    [Parameter, EditorRequired]
    public required TDisplay SpellDisplay { get; set; }
}

<style>
    tr, th, td {
        border-top: 1px solid rgb(160 160 160);
    }
</style>