<tr>
    <td>        </td>
    <th scope="row">@Spell.Spell.Name</th>
    <td>@Spell.SchoolDisplay</td>
    <td>@Spell.RangeDisplay</td>
    <td>@Spell.Spell.CastingTime</td>
    <td>@Spell.Spell.Duration</td>
    <td>@Spell.SpellResistDisplay</td>
    <td>@Spell.Spell.Components</td>
    <td>@((MarkupString) Spell.Spell.ShortDescription)</td>
</tr>



@code {
    [Parameter, EditorRequired]
    public required SelectedSpell Spell { get; set; }
}

<style>
    tr, th, td {
        border-top: 1px solid rgb(160 160 160);
    }
</style>