@using Shared

<tr>
    <td>        </td>
    <th scope="row">@Spell.Spell.Name</th>
    <td>@Spell.Spell.School <EmptyHelper Content="@Spell.Spell.SubSchool">(@Spell.Spell.SubSchool)</EmptyHelper> <EmptyHelper Content="@Spell.Spell.Descriptor">[@Spell.Spell.Descriptor]</EmptyHelper></td>
    <td>@Spell.Spell.Range <EmptyHelper Content="@Spell.Spell.Targets">(@Spell.Spell.Targets)</EmptyHelper></td>
    <td>@Spell.Spell.CastingTime</td>
    <td>@Spell.Spell.Duration</td>
    <td>@Spell.Spell.SavingThrow <EmptyHelper Content="@Spell.Spell.SpellResistance"><br/>(SR: @Spell.Spell.SpellResistance)</EmptyHelper></td>
    <td>@Spell.Spell.Components</td>
    <td>@((MarkupString) Spell.Spell.ShortDescription)</td>
</tr>



@code {
    [Parameter, EditorRequired]
    public required SelectedSpell Spell { get; set; }
}

<style>
    tr, th, td {
        border-top: 1px solid rgb(160 160 160);
    }
</style>